
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<p>
fadsfdsf<br>	
<%= data %>
</p>

<button id="creatw">create</button>
<button id="read">read</button>

<input id="id" type="text" name="id">
<input id="title"  type="text" name="title">
<input id="name" type="text" name="name">
<input id="content" type="text" name="content">

<button id="update">update</button>

<button id="delete">delete</button>

<script>

$('#create').click(create());
$('#read').click(read());
$('#update').click(update());
$('#delete').click(ddelete());





var create = function(){
	$.post('/db/create').success().error();
	console.log('create');
};

var read = function(){
	$.get('/db/read')
	.success(function(data, status, headers, config){
		if(data && data.length>1) {
			sessionService.set('uid',data);
			$location.path('/receive');
		}
		else {
			$location.path('/');
			scope.msgtxt = '錯誤的帳號或密碼';
			console.log(user);
			console.log(data);

			
		}
	})
	.error(function(data, status, headers, config){
		console.log(data);
		console.log(status);
		console.log(headers);
		console.log(config);
		console.log('error');
	});
	console.log('read');

};

var update = function(){
	$.post('/db/update').success().error();
	console.log('update');

};

var ddelete = function(){
	$.post('/db/delete').success().error();
	console.log('delete');

};









</script>