
<hr>
<% for(var i=0; i<data.length; i++) { %>
<h1>ID:<%= data[i].id %></h1>
<h1>TITLE:<%= data[i].title %></h1>
<h1>NAME:<%= data[i].name %></h1>
<h1>CONTENT:<%= data[i].content %></h1>
<% } %>
<hr>

