<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<hr>
<% for(var i=0; i<data.length; i++) { %>
<h1>ID:<%= data[i].id %></h1>
<h1>TITLE:<%= data[i].title %></h1>
<h1>NAME:<%= data[i].name %></h1>
<h1>CONTENT:<%= data[i].content %></h1>
<hr>
<% } %>



<input id="id" type="text" name="id">
<input id="title"  type="text" name="title">
<input id="name" type="text" name="name">
<input id="content" type="text" name="content">
<hr>
<button id="insert">insert</button>

<button id="update">update</button>

<button id="delete">delete</button>

<script>


$('#insert').click(function(){
	var b = {'id':2, 'title':'newtitle', 'name':'lukelu', 'content':'abc_test'}
	$.post('/db/insert',b)
	.success(function(data, status, headers, config){
		a = data;
		console.log(a);
		console.log('insert');
	})
	.error(function(status){
		console.log('error code:' + status);
	});

});

$('#read').click(function(){

	$.get('/db/read')
	.success(function(data, status, headers, config){
		a = data;
		console.log(a);
		console.log('read');

	}).error(function(status){
		console.log('error code:' + status);
	});

});

$('#update').click(function(){

	$.post('/db/update', {'title':'newtitle', 'name':'lukelu', 'content':'update2222'})
	.success(function(data, status, headers, config){
		a = data;
		console.log(a);
		console.log('update');
	})
	.error(function(status){
		console.log('error code:' + status);
	});

});

$('#delete').click(function(){

	$.post('/db/delete')
	.success(function(data, status, headers, config){
		a = data;
		console.log(a);
		console.log('delete');
	})
	.error(function(status){
		console.log('error code:' + status);
	});

});


</script>