<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<hr>
<% for(var i=0; i<data.length; i++) { %>
<h1>ID:<%= data[i].id %></h1>
<h1>TITLE:<%= data[i].title %></h1>
<h1>NAME:<%= data[i].name %></h1>
<h1>CONTENT:<%= data[i].content %></h1>
<hr>
<% } %>


<label>id</label>
<input id="id" type="text" name="id"><br>

<label>title</label>
<input id="title"  type="text" name="title"><br>

<label>name</label>
<input id="name" type="text" name="name"><br>

<label>content</label>
<input id="content" type="text" name="content"><br>
<hr>
<button id="insert">insert</button>

<button id="update">update</button>

<button id="delete">delete</button>

<script>
$(document).ready(function(){
	
	var getdata = function(name){
		var data = $('#'+name).val();
		$('#'+name).val('');
		return	data;
	}; 

	var StradegyOfCRUD = function(Select){};

$('#insert').click(function(){
	var b = {'id':getdata('id'), 'title':getdata('title'), 'name':getdata('name'), 'content':getdata('content')}
	$.post('/db/insert',b)
	.success(function(data, status, headers, config){
		console.log(data);
	})
	.error(function(status){
		console.log('error code:' + status);
	});

});

$('#read').click(function(){
	$.get('/db/read')
	.success(function(data, status, headers, config){
		console.log(data);
	}).error(function(status){
		console.log('error code:' + status);
	});

});

$('#update').click(function(){
	var b = {'title':getdata('title'), 'name':getdata('name'), 'content':getdata('content')};

	$.post('/db/update', b)
	.success(function(data, status, headers, config){
		console.log(data);
	})
	.error(function(status){
		console.log('error code:' + status);
	});

});

$('#delete').click(function(){
	var b = {'title':getdata('title'), 'name':getdata('name')};
	$.post('/db/delete',b)
	.success(function(data, status, headers, config){
		console.log(data);
	})
	.error(function(status){
		console.log('error code:' + status);
	});

});

});
</script>