<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<hr>
<% for(var i=0; i<data.length; i++) { %>
<h1>ID:<%= data[i].id %></h1>
<h1>TITLE:<%= data[i].title %></h1>
<h1>NAME:<%= data[i].name %></h1>
<h1>CONTENT:<%= data[i].content %></h1>
<hr>
<% } %>


<label>id</label>
<input id="id" type="text" name="id"><br>

<label>title</label>
<input id="title"  type="text" name="title"><br>

<label>name</label>
<input id="name" type="text" name="name"><br>

<label>content</label>
<input id="content" type="text" name="content"><br>
<hr>
<button id="insert" onclick="StradegyOfRequest('insert')">insert</button>

<button id="update" onclick="StradegyOfRequest('update')">update</button>

<button id="delete" onclick="StradegyOfRequest('delete')">delete</button>

<script>
$(document).ready(function(){
	
	var getdata = function(name){
		var data = $('#'+name).val();
		$('#'+name).val('');
		return	data;
	}; 

	var StradegyOfRequest = function(select){

		$('#' + select).click(function(){
			var data = {'id':getdata('id'), 'title':getdata('title'), 'name':getdata('name'), 'content':getdata('content')}
			$.post('/db/' + select, b)
			.success(function(data, status, headers, config){
				console.log(data);
			})
			.error(function(status){
				console.log('error code:' + status);
			});

		});

	};

});
</script>