<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<label>id</label>
<input id="id" type="text" name="id"><br>

<label>title</label>
<input id="title"  type="text" name="title"><br>

<label>name</label>
<input id="name" type="text" name="name"><br>

<label>content</label>
<input id="content" type="text" name="content"><br>
<hr>
<button id="insert">insert</button>

<button id="update">update</button>

<button id="delete">delete</button>


<button id="a">insert</button>

<script>

var getdata = function(name){

	return	$('#'+name).val();
} 

$('#a').click(function(){
	alert(getdata('id'));
	alert(getdata('title'));
	alert(getdata('name'));
	alert(getdata('content'));
});

$('#insert').click(function(){
	var b = {'id':getdata('id'), 'title':getdata('title'), 'name':getdata('name'), 'content':getdata('content')}
	$.post('/db/insert',b)
	.success(function(data, status, headers, config){
		a = data;
		console.log(a);
		console.log('insert');
	})
	.error(function(status){
		console.log('error code:' + status);
	});

});

$('#read').click(function(){

	$.get('/db/read')
	.success(function(data, status, headers, config){
		a = data;
		console.log(a);
		console.log('read');

	}).error(function(status){
		console.log('error code:' + status);
	});

});

$('#update').click(function(){
	var b = {'title':getdata('title'), 'name':getdata('name'), 'content':getdata('content')};

	$.post('/db/update', b)
	.success(function(data, status, headers, config){
		a = data;
		console.log(a);
		console.log('update');
	})
	.error(function(status){
		console.log('error code:' + status);
	});

});

$('#delete').click(function(){
	var b = {'title':getdata('title'), 'name':getdata('name')};
	$.post('/db/delete',b)
	.success(function(data, status, headers, config){
		a = data;
		console.log(a);
		console.log('delete');
	})
	.error(function(status){
		console.log('error code:' + status);
	});

});


</script>